<!-- templates/partials/comment_form.html -->

<form action='/product/comments' method='post'>
    <input type='hidden' value='{{ product._id }}' name='product_id'/>
        <fieldset>
            <legend>Add a Comment</legend>
            <!-- TITLE -->
            <div class='form-group'>
                <label for='comment-title'>Title</label><br>
                <input class='form-control'
                    id='comment-title'
                    type='text'
                    name='title'
                    placeholder='Title'/>
            </div>
    
            <!-- DESCRIPTION -->
            <div class='form-group'>
                <label for='comment-content'>Description</label><br>
                <textarea class='form-control'
                    id='comment-content'
                    name='content'
                    rows='10'
                    placeholder='Your comment...'></textarea>
            </div>

            <!-- REVIEWS-->
            <div class='form-group'>
                <label for='review'>Review</label><br>
                    <form action="app.py">
                        <select>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        <input type = "Submit" value = "confirm">
                        </select>
                    </form> 
            </div>
        </fieldset>
    
        <!-- BUTTON -->
        <div class='form-group'>
            <button class='btn btn-primary' type='submit'>Save Comment</button>
        </div>
    </form>