<fieldset>
    <legend>Edit product</legend>
    <!-- TITLE -->
    <div class='form-group'>
        <label for='product-title'>Title</label><br>
        <input class='form-control' id='product-title' type='text' name='title' value='{{ product.title }}'/>
    </div>

    <!-- PRICE -->
    <div class='form-group'>
        <label for='product-price'>Price</label><br>
        <input class='form-control' id='product-price' type='number' name='price' value='{{ product.price }}'/>
    </div>

    <!-- Image -->
    <div class='form-group'>
        <label for='product-image'>Image</label><br>
        <p>Add images by pasting it's link here.</p>
        <input class='form-control' id='product-image' type='url' name='image' value='{{ product.image }}'/>
    </div>

    <!-- DESCRIPTION -->
    <div class='form-group'>
        <label for='description'>Description</label><br>
        <input class='form-control' id='description' type='text' name='description' value='{{ product.description }}' />
    </div>

    {% include 'partials/rating.html' %}

    <!-- REVIEWS -->
    <div class='form-group'>
        <label for='product-reviews'>Reviews</label><br>
        <textarea class='form-control' type='text' id='reviews' name='reviews' rows='10'value='{{ product.reviews }}'>{{product.reviews}}</textarea>
    </div>
</fieldset>