<!-- templates/products_show.html -->
{% extends 'base.html' %}

{% block content %}
<a href='/'>Back to Home</a>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>{{ product.title }}</h1>
        {% if product.created_at %}
        <p class='text-muted'>Created on {{ product.created_at.strftime('%A, %d %B, %Y') }}
            at {{ product.created_at.strftime('%I:%M %p') }}</p>
        {% endif %}

        <h2> <img src='{{ product.image }}'> </h2>

        <h2>{{ product.description }}</h2>
        <p width="420" height="315" src="{{ reviews }}"></p>

        <p><a href='/products/{{ product._id }}/edit'>Edit</a></p>
        <form method='POST' action='/products/{{ product._id }}/delete'>
            <input type='hidden' name='_method' value='DELETE'>
            <button class='btn btn-primary' type='submit'>Delete</button>
        </form>
        </p>

    <!-- Comment form -->
    {% include 'partials/comment_form.html' %}
        <hr>

    <!-- Show Comments -->
    {% for comment in comments %}
        {% include 'partials/comment.html' %}
    {% endfor %}

    </div>
</div>
{% endblock %}